{
    "extends": ["@nuxtjs/eslint-config-typescript"],
    "rules": {
        "vue/multi-word-component-names": "off",
        "vue/max-attributes-per-line": ["error", {
            "singleline": {
                "max": 4
            }
        }],
        "vue/attributes-order": ["error"],
        "vue/attribute-hyphenation": "error",
        "curly": "off"
    }
}
